.todo-body {
  background-color: #343e6e30;
  max-width: 700px;
  margin: 10px auto;
  padding: 30px 60px;
  border-radius: 11px;
  box-shadow: 0 4px 8px 0px #ffffff05;
  margin-top: 50px;
  font-family: sans-serif;
}
p {
  margin: 10px;
}
.formElement {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.formElement label {
  font-size: 18px;
  color: #7188f0;
}
.formElement input {
  font-size: 16px;
  padding: 8px 16px;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: #7188f0;
}

.formElement input:focus {
  border-color: #7188f0;
}
.formElement button {
  max-width: 14%;
  font-size: 16px;
  padding: 6px 12px;
  background-color: #7188f0;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: #ffffff;
}
.formElement button:hover {
  background-color: #a3a6d4;
}
.todoItems {
  list-style: none;
  padding: 0;
}
.todoItem {
  background-color: #ffffff99;
  border-radius: 6px;
  margin-bottom: 10px;
  padding: 14px;
  cursor: pointer;
}
.todoItem:hover {
  background-color: #8ea1f1;
}
